.calendarBackgroundImage{
    background-image: url(/img/Home\ BG.jpg);
    background-size: cover;
}
nav{
    position: sticky;
    top: 0;
    padding: 5px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    text-shadow: 2px 2px 3px #2a623d;
}
  li {
    float: center;
  }
  li a {
    display: none;
    color: #f6f4ea;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  li a:hover {
    background-color: #225207;
  }
.header{
  color: #f6f4ea;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  text-shadow: 2px 2px 3px #225207;
}
a{
  margin-top: 20px;
  margin-right: 25px ;
}
.logo{
    margin-right: 50px;
}
h1{
    text-align: center;
    color:  white
}
.calendar{
    margin-left:150px;
    margin-top: 20px;
    border-radius: 20px;
}

