.navDetails{
    background-color: white;
    color: black;
}

nav{
    position: sticky;
    top: 0;
    padding: 5px;
    /* font-family: 'Playfair Display SC', serif; */
    font-weight: 400;
    font-size: 18px;
    text-shadow: 2px 1px 1px black;
    z-index: 4;
}
a{
    margin-top: 20px;
    margin-right: 25px;
}
.ulSticky{
    position: sticky;
}

.logo{
    margin-right: 50px;
}
.backgroundimage{
    background-image: url(/img/AboutUsBG.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* Jumbotron Information Below */
.jumbo{
    color: whitesmoke;
    text-shadow: 2px 5px 3px black;
    text-decoration-style: solid;
    font-size:100px ; 
    padding-left: 50px;
}
.miniJumbo{
    color: white;
    text-shadow: 2px 5px 3px black;
    text-decoration-style: solid;
    font-size: 32px ; 
    padding-left: 10%; 
    padding-right:10%;
    padding-bottom: 200px;
}
/* .jumbotron-add{
    padding: 2%;
} */

.contactUsButton {
    background-color: #17a9bd;
    border: none;
    margin-left: 12%;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-shadow: 2px 5px 3px black;
    text-decoration: solid;
    display: inline-block;
    font-size: 18px;
}

/* Info Area Styles */
.infoArea{
    display: inline-flex;
}

.thumbnailLeft{
    background-color: #60813B;
    padding: 2%;
}

.thumbnailCenter{
    background-color: #9CBE6F;
    padding: 2%;
}

.thumbnailRight{
    background-color: #17a9bd;
    padding:2%;
}

*
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:  #2a623d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #9CCE6F;
  }

  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #638f9b;
    padding: 10px;
    padding-right:100px;
    border-radius: 20px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }