nav{
    position: sticky;
    top: 0;
    padding: 5px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    text-shadow: 2px 2px 3px #2a623d;
}
  li {
    float: center;
  }
  li a {
    display: none;
    color: #f6f4ea;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  li a:hover {
    background-color: #225207;
  }
.top{
  color: #f6f4ea;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  text-shadow: 2px 2px 3px #225207;
}

.logo{
    height: 10vh;
    width: 15vw;
}
button{
    float: right;
    margin-top: 100px;
}
button:hover{
    background-color: #5d5d5d;
}
a{
    color: #f6f4ea;
    margin-left: 20px;
}
a:hover{
    color: #f0f7f0;
    font-size: 15px;
}

.homebackgroundimage{
  background-image: url(/img/Home\ BG.jpg);
  background-size: cover;
}
.pose{
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.column{
  color: rgb(245, 237, 237);
  display: inline-block;
  text-align: center;
  width: 45%;
  height: 450px;
}
p{
  padding: 10px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 600;
  color: #f8f8f5;
  font-size: large;
}

.nextto{
  height: 120px;
  width: 90%;
  display: vertical, inline-block;
  text-align: center;
  color: #f6f4ea;
}
h2{
  color: #f6f4ea;
  background-color: transparent;
  border-radius: 15px;
  font-family: 'Playfair Display SC', serif;
  text-shadow: 2px 2px 3px rgb(219, 231, 219);
}
h3{
  color: #f6f4ea;
  background-color: transparent;
  border-radius: 15px;
  font-family: 'Playfair Display SC', serif;
  text-shadow: 2px 2px 3px rgb(219, 231, 219);
}
h4{
  color: #f6f4ea;
  background-color: transparent;
  border-radius: 15px;
  font-family: 'Playfair Display SC', serif;
  text-shadow: 2px 2px 3px rgb(219, 231, 219);
}
header{
  color: #e0dde2;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  text-shadow: 2px 2px 3px #5d5d5d;
}

.helpfulbackgroundimage{
  background-image: url(/img/helpful.png);
  background-size: cover;
}

.umbrellabackgroundimage{
  background-image: url(/img/UmbrellaBG.jpg);
  background-size: cover;
}

body {font-family: 'Playfair Display SC', serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 25%;
  padding: 10px 15px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid rgb(148, 158, 152);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(119, 170, 121);
  color: white;
  padding: 7px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  float: right;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #c72b20;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 12px 0 6px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 10px;
}

span.psw {
  float: left;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 25px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #e8f3ea;
  margin: 10% 10% 30% 10%; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 75%;
  }
}
